<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
</head>

<body>
  <header>
    <h3>Movie App</h3>

    <nav>
      <a href="/">Home</a>
      <a href="/movies">Movies</a>
      <a href="/add">Add Movie</a>
    </nav>
  </header>

  {{{body}}}
</body>

</html>